/*Variabler*/

$primary-margin: 0;
$secondary-margin: 10px;
$tertiary-margin: auto;
$quaternary-margin: 20px;
$quinary-margin: 50px;
$senary-margin: 100px;
$primary-display: flex;
$secondary-display: none;
$tertiary-display: block;
$primary-align-items: center;
$primary-padding: 10px;
$secondary-padding: 20px;
$tertiary-padding: 0;
$quaternary-padding: 50px;
$quinary-padding: 15px;
$primary-backgroundcolor: #ffffff;
$secondary-backgroundcolor: #000000;
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #00bcd4;
$quaternary-color: #96783C;
$primary-width: auto;
$secondary-width: 100%;
$tertiary-width: 200px;
$quaternary-width: 100px;
$quinary-width: 50%;
$primary-object-fit: contain;
$primary-gap: 20px;
$secondary-gap: 10px;
$primary-transition: 0.3s;
$secondary-transition: ease;
$primary-flex-direction: column;
$secondary-flex-direction: row;
$primary-cursor: pointer;
$primary-position: absolute;
$primary-border-radius: 5px;
$secondary-border-radius: 50px;
$tertiary-border-radius: 8px;
$primary-text-align: center;
$secondary-text-align: left;
$primary-border: 2px;
$secondary-border: solid;
$primary-max-width: 600px;
$secondary-max-width: 100%;
$tertiary-max-width: 1200px;
$primary-max-height: 300px;
$primary-height: auto;
$secondary-height: 100px;
$tertiary-height: 50px;
$primary-justify-content: center;
$primary-font-weight: bold;
$primary-flex-wrap: wrap;
$primary-flex: 1;
